<!DOCTYPE html>
<html>
    <head>
        <title>Mobile List</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <style>
            .wrapper {
                text-align: center;
            }
            td {
                text-align: center;
            }
            /*table, td, th {
                border: 1px solid black;
            }*/

            table {
                border-collapse: collapse;
                width: 100%;
            }

            th {
                height: 50px;
            }
        </style>
        <script>
          var mobileApp = angular.module('mobileApp', []);
          mobileApp.controller('MobileController', function ($scope){
              $scope.mobiles = [
                                    {
                                        "brand": "Samsung",
                                        "model": "Galaxy Note 7",
                                        "size": 5.7,
                                        "os": "Android V6.0.1",
                                        "intMem": 64,
                                        "ram": 4,
                                        "primCam": 12,
                                        "secCam": 5,
                                        "battery": 3500,
                                        "img": "http://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-note7-usa.jpg",
                                        ref: "http://www.gsmarena.com/samsung_galaxy_note7_(usa)-8242.php"
                                    },
                                    {
                                        "brand": "Motorola",
                                        "model": "G Turbo",
                                        "size": 5,
                                        "os": "Android V6.0.1",
                                        "intMem": 16,
                                        "ram": 2,
                                        "primCam": 13,
                                        "secCam": 8,
                                        "battery": 2700,
                                        "img": "http://cdn2.gsmarena.com/vv/bigpic/motorola-moto-g-turbo-edition-.jpg",
                                        "ref":"http://www.gsmarena.com/samsung_galaxy_a7_(2016)-7759.php"    
                                    },
                                    {
                                        "brand": "Samsung",
                                        "model": "Galaxy A7(2016)",
                                        "size": 5.5,
                                        "os": "Android V5.1.1",
                                        "intMem": 16,
                                        "ram": 3,
                                        "primCam": 13,
                                        "secCam": 5,
                                        "battery": 3300,
                                        "img": "http://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-a7-2016.jpg",
                                        "ref":"http://www.gsmarena.com/motorola_moto_g_turbo_edition-7743.php"
                                    },
                                    {
                                        "brand": "Apple",
                                        "model": "iphone 6S",
                                        "size": 4.7,
                                        "os": "ios 9",
                                        "intMem": "depends",
                                        "ram": 2,
                                        "primCam": 12,
                                        "secCam": 5,
                                        "battery": 1715,
                                        "img": "http://cdn2.gsmarena.com/vv/bigpic/apple-iphone-6s1.jpg",
                                        "ref":"http://www.gsmarena.com/apple_iphone_6s-7242.php"
                                    },
                                ]
          });
        </script>
    </head>
    <body style="background-color:#ccffff;" ng-app="mobileApp" ng-controller="MobileController">
        <h1 align="center">Mobile List</h1>
        <div align="center">
            <table>
              <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Size(inches)</th>
                <th>OS</th>
                <th>Internal Memory(GB)</th>
                <th>RAM(GB)</th>
                <th>Primary-Camera(MP)</th>
                <th>Secondary-Camera(MP)</th>
                <th>Battery(mah)</th>
                <th>Image</th>
              </tr>
              <tr ng-repeat="mobile in mobiles">
                <td>{{mobile.brand}}</td>
                <td><a href="{{mobile.ref}}">{{mobile.model}}</a></td>
                <td>{{mobile.size}}</td>
                <td>{{mobile.os}}</td>
                <td>{{mobile.intMem}}</td>
                <td>{{mobile.ram}}</td>
                <td>{{mobile.primCam}}</td>
                <td>{{mobile.secCam}}</td>
                <td>{{mobile.battery}}</td>
                <td><img ng-src="{{mobile.img}}" width="100"></td>
              </tr>
            </table>
        </div>
    </body>
</html>   