<!DOCTYPE html>
<html>
    <head>
        <title>Student Details</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <style>
            .wrapper {
                text-align: center;
            }
            td {
                text-align: center;
            }
            /*table, td, th {
                border: 1px solid black;
            }*/

            table {
                border-collapse: collapse;
                width: 50%;
            }

            th {
                height: 50px;
            }
        </style>
        <script>
            var app = angular.module('studentApp', []);
          app.controller('StudentTableController', function ($scope){
              $scope.studentDetails = [
                                    {
                                        "firstName": "Vairavan",
                                        "lastName": "Lakshmanan"
                                    },
                                    {
                                        "firstName": "Manikandan",
                                        "lastName": "Lakshmanan"
                                    },
                                    {
                                        "firstName": "Manikandan",
                                        "lastName": "Chinnathambi"
                                    },
                                    {
                                        "firstName": "Gokula",
                                        "lastName": "Krishnan"
                                    },
                                    {
                                        "firstName": "Jeetesh",
                                        "lastName": "Baskaran"
                                    },
                                    { 
                                        "firstName": "Govarthanam",
                                        "lastName": "Krishnasamy"
                                    }
                                ]
          });
          app.filter('nameFilter', function() {
            return function(items, query) {
                var filtered = [];
                if (query !== undefined) {
                    for(var i = 0; i < items.length; i++) {
                        if(items[i].firstName.toUpperCase().search(query.toUpperCase()) !== -1 || items[i].lastName.toUpperCase().search(query.toUpperCase()) !== -1 ) {
                            filtered.push(items[i]);
                        }
                    }
                } else {
                    filtered = items;
                }
                return filtered;
            };
        });
        </script>
    </head>
    <body style="background-color:#ccffff;" ng-app="studentApp" ng-controller="StudentTableController">
        <h1 align="center">Student Details</h1>
        <div align="center">
            Search:<input ng-model="query" type="text"/>
            <table ng-show="(studentDetails | nameFilter: query).length">
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
              </tr>
              <tr ng-repeat="detail in studentDetails | nameFilter: query ">
                <td>{{detail.firstName}}</td>
                <td>{{detail.lastName}}</td>
              </tr>
            </table>
        </div>
    </body>
</html>