<!DOCTYPE html>
<html>
    <head>
        <title>Addition Of 2 Numbers</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body style="background-color:thistle;" ng-app>
        <h1 align="center">Addition Of Two Numbers</h1>
        <div align="center">
            <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_9ZyVfPLxML9Y3RYe_I4EkOkznfzP1GjAiyNgjzTnhTPabFdl" alt="Addition" height="250" width="400">
        </div>
        <br>
        <div align="center">
            First Number: <input ng-model="num1" type="number" style="width:75px"/>
            <br>
            <br>
            Second Number: <input ng-model="num2" type="number" style="width:75px"/>
            <br>
            <br>
            <br>
        </div>
        <div align="center">
            Sum of {{ num1 }} and {{ num2 }} is {{ num1 + num2 }}
        </div>
    </body>
</html>