<div ng-controller="NonTechnicalController">Non-Technical Books: 
    <select ng-model="subCategory" ng-options="option for option in subCategories" ng-change="populateBooks()"></select>
    <select ng-model="selectedBook">
        <option ng-repeat="book in books">{{ book.book }}</option>
    </select>
    <button ng-click="populateList()">{{button}}</button>
    <br>
    <br>
    <table id="nonTechnicalTable" class="table">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Author</th>
                <th>Price</th>
                <th>Remaining Quantities</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr non-technical-directive></tr>
        </tbody>
    </table>
</div>