<!DOCTYPE html>
<html>
    <head>
        <title>Email List</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <style>
            .wrapper {
                text-align: center;
            }
        </style>
    </head>
    <body style="background-color:blanchedAlmond;" ng-app="emailExample">
        <h1 align="center">Email List</h1>
        <div align="center">
            <img ng-src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSdmZRNL4fWYpw7wwSYaiqfamL5_nO8xuztsGiJN9M0BwhvUCXA3A" alt="Email-List" height="250" width="400">
        </div>
        <script>
            var app = angular.module('emailExample', []);
            app.controller('ExampleController', ['$scope', function($scope) {
                $scope.mailId = [];
                $scope.addMail = function() {
                    $scope.mailId.push($scope.mail);
                    $scope.mail = '';
                };
            }]);
        </script>
        <form name="myForm" ng-controller="ExampleController" ng-submit="addMail()">
            <div align="center">
                <br>
                Email ID: <input ng-model="mail" type="email" name="input" required />
                <br>
                <br>
            </div>
            <div class="wrapper">
                <span class="error" ng-show="myForm.input.$error.required">
                    Required!
                </span>
                <span class="error" ng-show="myForm.input.$error.email">
                    Not valid email!
                </span>
                <span class="error" ng-show="myForm.input.$valid">
                    <input type="submit" value="Submit">
                </span>
            </div>
            <ul>
                <li ng-repeat="mail in mailId">{{ mail }}</li>
            </ul>
        </form>
    </body>
</html>