<!DOCTYPE html>
<html>
    <head>
        <title>Digital Library</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body style="background-color:thistle;" ng-app="digilibExample" ng-model="switch=true">
        <div align="center">
            <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7IrrN3NTcauNBC6QK9xc8cZq6zTYurBL_xQP3THshuv4XtD1i6g" alt="Digital Library" height="250" width="400">
        </div>
        <script>
            var app = angular.module('digilibExample', []);
            app.controller('TechnicalController', ['$scope', function ($scope) {
                'use strict';
                $scope.books = ['Head First C', 'Head First C++', 'Head First Java', 'Head First Javascript'];
                $scope.isDisabled = false;
                $scope.disableButton = function () {
                    $scope.isDisabled = true;
                }
            }]);
            app.controller('NonTechnicalController', ['$scope', function ($scope) {
                'use strict';
                $scope.books = ['Everyone Has a Story', 'Half Girlfriend', 'Revolution 2020', 'Five Point Someone'];
                $scope.isDisabled = false;
                $scope.disableButton = function () {
                    $scope.isDisabled = true;
                }
            }]);
        </script>
        <br>
        <div align="center">
            <div ng-controller="TechnicalController">
                Technical Books: <select>
                                    <option ng-repeat="book in books">{{ book }}</option>
                                 </select>
                <button ng-disabled="isDisabled" ng-click="disableButton()">Check Out</button>
                <br>
                <br>
            </div>
            <div ng-controller="NonTechnicalController">
                Non-Technical Books: <select>
                                        <option ng-repeat="book in books">{{ book }}</option>
                                     </select>
                <button ng-disabled="isDisabled" ng-click="disableButton()">Check Out</button>
                <br>
                <br>
                <br>
            </div>
        </div>
    </body>
</html>