<!DOCTYPE html>
<html>
    <head>
        <title>Email Validation</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <style>
            .wrapper {
                text-align: center;
            }
        </style>
    </head>
    <body style="background-color:aquamarine;" ng-app="emailExample">
        <h1 align="center">Email Validation</h1>
        <div align="center">
            <img ng-src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRITQ8g_r0Nar2souJ2gaHq8jry7GVVG_JYIwLxlWTDNkWR7u18" alt="Email-Validation" height="250" width="400">
        </div>
        <script>
            var app = angular.module('emailExample', []);
            app.controller('ExampleController', ['$scope', function($scope) {
                $scope.email = {
                    text: 'me@example.com'
                };
                $scope.displayMessage = function() {
                    $scope.message = "Email Submitted Successfully";
                };
                $scope.changeMessage = function() {
                    $scope.message = "";
                };
            }]);
        </script>
        <form name="myForm" ng-controller="ExampleController">
            <div align="center">
                <br>
                Email ID: <input ng-model="email.text" ng-change="changeMessage()" type="email" name="input" required />
                <br>
                <br>
            </div>
            <div class="wrapper">
                <span class="error" ng-show="myForm.input.$error.required">
                    Required!
                </span>
                <span class="error" ng-show="myForm.input.$error.email">
                    Not valid email!
                </span>
                <span class="error" ng-show="myForm.input.$valid">
                    <button class="button" ng-click="displayMessage()">Submit</button>
                    <p>{{ message }}</p>
                </span>
            </div>
        </form>
    </body>
</html>