<!DOCTYPE html>
<html>
    <head>
        <title>Digital Library</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body style="background-color:thistle;" ng-app="digilibExample" ng-model="switch=true">
        <div align="center">
            <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7IrrN3NTcauNBC6QK9xc8cZq6zTYurBL_xQP3THshuv4XtD1i6g" alt="Digital Library" height="250" width="400">
        </div>
        <script>
            var technicalBooks = [
                    [
                        {
                            'book': 'Electronics Fundamentals L/M',
                            'author': 'Floyd',
                            'price': 2000
                        },
                        {
                            'book': 'Circuit Modeling',
                            'author': 'Ciccarelli',
                            'price': 3750
                        },
                        {
                            'book': 'Concepts Of Electrodynamics',
                            'author': 'V.Kumar',
                            'price': 365
                        }    
                    ],
                    [
                        {
                            'book': 'Computational Physics',
                            'author': 'Nicholas J Giordano',
                            'price': 450 
                        },
                        {
                            'book': 'Physics Of Atoms And Molecules',
                            'author': 'C.J. Joachain, B.H. Bransden',
                            'price': 750 
                        },
                        {
                            'book': 'Modern Physics For Scientists And Engineers',
                            'author': 'Taylor & Zafiratos',
                            'price': 8669 
                        }
                    ],
                    [
                        {
                            'book': 'Divisor Theory',
                            'author': 'Edwards, Harold M.',
                            'price': 5135
                        },
                        {
                            'book': 'Think Math- Spiral Review Book',
                            'author': 'Harcourt',
                            'price': 536 
                        },
                        {
                            'book': 'In Code: A Mathematical Journey',
                            'author': 'Sarah Flannery, David Flannery',
                            'price': 1046
                        }
                    ]
                ];
            var nonTechnicalBooks = [
                    [
                        {
                            'book': 'The Alchemist',
                            'author': 'Paulo Coelho',
                            'price': 150
                        },
                        {
                            'book': 'A Christmas Carol',
                            'author': 'Parul Dave Mukherji',
                            'price': 999999
                        },
                        {
                            'book': 'Justice for All',
                            'author': 'Christy Truitt',
                            'price': 685
                        }    
                    ],
                    [
                        {
                            'book': 'Bhutanese Guide Happiness',
                            'author': 'Gyonpo Tshering',
                            'price': 299 
                        },
                        {
                            'book': 'Chocolate Cookbook',
                            'author': 'Nit aMehta',
                            'price': 295 
                        },
                        {
                            'book': 'Stay Hungry Stay Foolish',
                            'author': 'Rashmi Bansal',
                            'price': 224 
                        }
                    ],
                    [
                        {
                            'book': 'Mein Kempf',
                            'author': 'Adolf Hitler',
                            'price': 1621
                        },
                        {
                            'book': 'Wings Of Fire',
                            'author': 'A.P.J.Abdul Kalam',
                            'price': 150 
                        },
                        {
                            'book': 'Steve Jobs',
                            'author': 'Walter Isaacson',
                            'price': 430
                        }
                    ]
                ];
            var app = angular.module('digilibExample', []);
            app.controller('TechnicalController', ['$scope', '$rootScope', function ($scope, $rootScope) {
                $scope.subCategories = ['Electronics', 'Physics', 'Mathematics'];
                $scope.books = [];
                $scope.populateBooks = function () {
                    var key = $scope.subCategories.indexOf($scope.subCategory);
                    var newBooks = technicalBooks[key];
                    console.log(newBooks);
                    $scope.books = newBooks;
                }
                $rootScope.isDisabled = false;
                $rootScope.disableButton = function () {
                    $rootScope.isDisabled = true;
                };
            }]);
            app.controller('NonTechnicalController', ['$scope', '$rootScope', function ($scope, $rootScope) {
                $scope.subCategories = ['Fiction', 'Non-fiction', 'Biography'];
                $scope.books = [];
                $scope.populateBooks = function () {
                    var key = $scope.subCategories.indexOf($scope.subCategory);
                    var newBooks = nonTechnicalBooks[key];
                    console.log(newBooks);
                    $scope.books = newBooks;
                }
                $rootScope.isDisabled = false;
                $rootScope.disableButton = function () {
                    $rootScope.isDisabled = true;
                };
            }]);
        </script>
        <br>
        <div align="center">
            <div ng-controller="TechnicalController">
                Technical Books: <select ng-model="subCategory" ng-options="option for option in subCategories" ng-change="populateBooks()">
                                 </select>
                                 <select>
                                    <option ng-repeat="book in books">{{ book.book }}</option>
                                 </select>
                <button ng-disabled="isDisabled" ng-click="disableButton()">Check Out</button>
                <br>
                <br>
            </div>
            <div ng-controller="NonTechnicalController">
                Non-Technical Books: <select ng-model="subCategory" ng-options="option for option in subCategories" ng-change="populateBooks()">
                                 </select>
                                 <select>
                                    <option ng-repeat="book in books">{{ book.book }}</option>
                                 </select>
                <button ng-disabled="isDisabled" ng-click="disableButton()">Check Out</button>
                <br>
                <br>
            </div>
        </div>
    </body>
</html>
