<!doctype html>
<html>
    <head>
        <title>Signup Form</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body style="background-color:thistle;" ng-app="passwordExample" ng-controller="PasswordController">
        <div align="center">
            <img ng-src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSueVb2Lt-cssIpUM7A4-uB2AxhdblM0s4Y419GKpT_HPovFgDosw" alt="Signup" height="250" width="400">
        </div>
        <script>
            var app = angular.module("passwordExample", []);
            app.controller("PasswordController", function($scope) {
                $scope.$watch('password', function(password) {
                    if (/^(?=.*[0-9])(?=.*[A-Z])[A-Z0-9]{3,14}$/.test(password))
                        $scope.validation = 'Valid Password';
                    else
                        $scope.validation = 'Not a valid Password';
                });
            });
        </script>
        <div align="center">
            <br>
            <br>
            Password:
            <input type="password" ng-model="password">
            <br>
            <h3 style="color:red">{{ validation }}</p>
        </div>
    </body>

</html>