<!doctype html>
<html>
    <head>
        <title>Signup Form</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body style="background-color:thistle;" ng-app="passwordExample" ng-controller="PasswordController">
        <div align="center">
            <img ng-src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSueVb2Lt-cssIpUM7A4-uB2AxhdblM0s4Y419GKpT_HPovFgDosw" alt="Signup" height="250" width="400">
        </div>
        <script>
            var app = angular.module("passwordExample", []);
            app.controller("PasswordController", function($scope) {
                $scope.re = /^(?=.*[0-9])(?=.*[A-Z])[0-9A-Z]\w{3,14}$/;
            });
        </script>
        <div align="center">
            <ng-form name="passwordForm">
                <br>
                <br>
                Password:
                <input type="password" ng-model="password" name="password" ng-pattern="re" />
                <br>
                <span ng-show="passwordForm.password.$error.pattern" style="color:red">Not valid password.</span>
            </ng-form>
        </div>
    </body>

</html>